@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_SlidePartial")



<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shield"></i>
                    <h2>Mua sắm đáng tin cậy</h2>
                    <p>
                        Mua sắm an tâm với chính sách minh bạch, bảo hành uy tín, và dịch vụ tận tâm. Chúng tôi mang đến trải nghiệm đáng tin cậy cho bạn.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shopping-bag"></i>
                    <h2>Sản phẩm chất lượng</h2>
                    <p>
                        Đồng hồ chính hãng, thiết kế tinh tế, bền bỉ với thời gian. Cam kết chất lượng và dịch vụ hàng đầu dành cho khách hàng.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Giao hàng nhanh chóng</h2>
                    <p>
                        Giao hàng nhanh toàn quốc, đúng hẹn, an toàn. Đảm bảo sản phẩm đến tay bạn trong thời gian ngắn nhất.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-phone"></i>
                    <h2>Hỗ trỡ 24/7</h2>
                    <p>
                        Hỗ trợ khách hàng 24/7, tận tâm giải đáp mọi thắc mắc để bạn luôn an tâm khi mua sắm.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->

<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">

            


            <div class="col-md-3">
                <div class="category-img">
                    <img src="~/images/category/donghocochay.jpg" />
                    <a class="category-name" href="">
                        <h2>Đồng hồ cơ</h2>
                    </a>
                </div>
            </div>


            <div class="col-md-3">
                <div class="category-img">
                    <img src="~/images/category/donghothongminh.jpg" />
                    <a class="category-name" href="">
                        <h2>Đồng hồ thông minh</h2>
                    </a>
                </div>
            </div>


            <div class="col-md-3">
                <div class="category-img">
                    <img src="~/images/category/donghochaynangluongquang.jpg" />
                    <a class="category-name" href="">
                        <h2>Đồng hồ năng lượng quang</h2>
                    </a>
                </div>
            </div>


            <div class="col-md-3">
                <div class="category-img">
                    <img src="~/images/category/donghopin.jpg" />
                    <a class="category-name" href="">
                        <h2>Đồng hồ pin</h2>
                    </a>
                </div>
            </div>

          


          
        </div>
    </div>
</div>
<!-- Category End-->


@await Html.PartialAsync("_ProductPartial")

