@model WebDongHo.ViewModels.UserViewModel


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-prod">
                    <i class="fa fa-user-circle" style="font-size: 40px;"></i> Đăng nhập hệ thống
                </div>
                <div class="panel-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    <form class="form form-horizontal" asp-action="Login" asp-controller="User" method="POST">
                        <!-- Tên đăng nhập -->
                        <div class="form-group">
                            <input class="form-control" asp-for="Register.Username" placeholder="Nhập tên đăng nhập" autofocus required />
                            <span asp-validation-for="Register.Username" class="text-danger"></span>
                        </div>

                        <!-- Mật khẩu -->
                        <div class="form-group">
                            <input type="password" class="form-control" asp-for="Register.Password" id="password" placeholder="Nhập mật khẩu" required />
                            <span asp-validation-for="Register.Password" class="text-danger"></span>
                        </div>

                        <!-- Nút Đăng nhập -->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
