@model WebDongHo.ViewModels.UserViewModel


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-prod">
                    <i class="fa fa-id-badge" style="font-size: 40px;"></i> Đăng ký tài khoản
                </div>
                <div class="panel-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    <form class="form form-horizontal" asp-action="Register" asp-controller="User" method="POST">
                        <div class="form-group">
                            <input class="form-control" asp-for="Register.Username" placeholder="Tên đăng nhập" required />
                            <span asp-validation-for="Register.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" asp-for="Register.Name" placeholder="Họ và tên" required />
                            <span asp-validation-for="Register.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" asp-for="Register.Address" placeholder="Địa chỉ" />
                            <span asp-validation-for="Register.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" asp-for="Register.Email" placeholder="Email" required />
                            <span asp-validation-for="Register.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" asp-for="Register.Phone" placeholder="Số điện thoại" required />
                            <span asp-validation-for="Register.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" asp-for="Register.Password" id="password" placeholder="Mật khẩu" required
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
                            <span asp-validation-for="Register.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Nhập lại mật khẩu" required
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa."
                                   oninput="checkPasswordMatch(this);" />
                            <div id="passwordMatchMessage"></div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function checkPasswordMatch(input) {
            var passwordInput = document.getElementById('password');
            var confirmPasswordInput = input;
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordInput.setCustomValidity('Mật khẩu không khớp');
            } else {
                confirmPasswordInput.setCustomValidity('');
            }
        }
    </script>
}
